<div>
    <div class="d-flex align-items-center">

        <mat-icon class="mr-2">mediation</mat-icon>

        <h2 class="m-0 mr-3 font-weight-500">
            Rules
        </h2>

        <button
            mat-stroked-button
            class="mr-2 text-primary"
            [matMenuTriggerFor]="menu">
            Create...
        </button>

        <button mat-stroked-button class="text-primary">...</button>
    </div>

    <mat-tab-group class="mt-2">
        <mat-tab label="All Rules" class="text-primary">
            <div class="mt-5">
                <div class="desktop-table" *ngIf="rules.length; else noRules">
                    <mat-table #table [dataSource]="dataSource">
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef class="text-dark">
                            Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let rule" class="text-ellipsis">
                          <span class="text-ellipsis d-flex align-items-center">
                            <mat-icon class="mr-2">mediation</mat-icon>
                            {{rule.name}}
                          </span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef class="text-dark">
                            Description
                        </mat-header-cell>
                        <mat-cell *matCellDef="let rule" class="text-ellipsis">
                          <span class="text-ellipsis" *ngIf="rule.description; else noDescription">
                            {{rule.description}}
                          </span>
                          <ng-template #noDescription>
                            <i class="text-muted">No description</i>
                          </ng-template>

                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="modified">
                        <mat-header-cell *matHeaderCellDef class="text-dark">
                            Modified
                        </mat-header-cell>
                        <mat-cell *matCellDef="let rule" class="text-ellipsis">
                          <span class="text-ellipsis">
                            {{ getFormatedDate(rule) }}
                          </span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="text-dark">
                            Actions
                        </mat-header-cell>
                        <mat-cell *matCellDef="let rule" class="text-ellipsis d-flex">
                            <button mat-stroked-button color="success" class="mr-1">Run</button>

                            <button mat-icon-button class="text-primary mr-1" (click)="gotoRule(rule)">
                                <mat-icon>create</mat-icon>
                            </button>

                            <button mat-icon-button class="text-danger mr-1" (click)="deleteRule(rule)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>

                <ng-template #noRules>
                    <div><i>No Rules found</i></div>
                </ng-template>
            </div>
        </mat-tab>
        <mat-tab label="Owner"> </mat-tab>
    </mat-tab-group>

</div>


<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="createFlow()" style="width: 200px;">Create Rule Engine</button>
    <button mat-menu-item>Create Folder</button>
</mat-menu>
